{% extends "layout.jinja2" %}

{% block content %}
    <h1>{{ user.username }}님의 할 일 그룹</h1>

    <div>
    {% for group in groups %}
        <div>
            <a href="{{ url_for('list-todo-page', pk=group.id) }}">
                <h2>{{ group.name }}</h2>
                
                <div
                    hx-get="{{ url_for('partial-todo-group-todos-count', pk=group.id) }}"
                    hx-trigger="load delay:250ms"
                ></div>
            </a>
        </div>        
    {% endfor %}
    </div>
{% endblock %}