{% extends "layout.jinja2" %}

{% import 'components/todo-detail.jinja2' as todo_detail %}

{% block content %}
    <div>
        <h1>{{ todo_group.name }} 그룹함</h1>
        {% for todo in todos %}
            {{ todo_detail.render(todo) }}
        {% endfor %}
    </div>
{% endblock %}
