<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}푸딩투두{% endblock title %}</title>
    <meta name="htmx-config" content='{"defaultSwapStyle": "outerHTML", "useTemplateFragments": true, "refreshOnHistoryMiss": true}'>
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/ajax-header.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.11/dist/ext/response-targets.js"></script>
  </head>

    <main class="">
      {% block content %}{% endblock content %}
    </main>
  </body>
</html>
